In [1]:
import pandas as pd
data=pd.read_parquet('E:/Ingénierie 1 EISI/MSPR 1/Projet MSPR Big Data/Datasets/Used Datasets/donnee-comm-data.gouv-parquet-2023-geographie2023-produit-le2024-03-07.parquet')
data

,CODGEO_2023,annee,classe,unité.de.compte,valeur.publiée,faits,tauxpourmille,complementinfoval,complementinfotaux,POP,millPOP,LOG,millLOG
0,01001,16,Coups et blessures volontaires,victime,ndiff,NaN,NaN,1.706093,1.533258,767,16,348.0,16
1,01001,16,Coups et blessures volontaires intrafamiliaux,victime,diff,0.0,0.000000,NaN,NaN,767,16,348.0,16
2,01001,16,Autres coups et blessures volontaires,victime,ndiff,NaN,NaN,1.413953,0.902696,767,16,348.0,16
3,01001,16,Violences sexuelles,victime,diff,0.0,0.000000,NaN,NaN,767,16,348.0,16
4,01001,16,Vols avec armes,infraction,diff,0.0,0.000000,NaN,NaN,767,16,348.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918875,97617,23,Vols dans les véhicules,véhicule,diff,19.0,1.363571,NaN,NaN,13934,17,3872.0,17
3918876,97617,23,Vols d'accessoires sur véhicules,véhicule,ndiff,NaN,NaN,2.733333,0.234555,13934,17,3872.0,17
3918877,97617,23,Destructions et dégradations volontaires,infraction,diff,91.0,6.530788,NaN,NaN,13934,17,3872.0,17
3918878,97617,23,Trafic de stupéfiants,Mis en cause,ndiff,NaN,NaN,2.500000,0.216122,13934,17,3872.0,17
3918879,97617,23,Usage de stupéfiants,Mis en cause,ndiff,NaN,NaN,7.142857,0.641816,13934,17,3872.0,17

In [2]:
annees_a_supprimer = [16, 17,18, 19, 23]
data = data[~data['annee'].isin(annees_a_supprimer)]
data

,CODGEO_2023,annee,classe,unité.de.compte,valeur.publiée,faits,tauxpourmille,complementinfoval,complementinfotaux,POP,millPOP,LOG,millLOG
1959440,01001,20,Coups et blessures volontaires,victime,ndiff,NaN,NaN,2.027682,1.773055,806,20,366.185065,20
1959441,01001,20,Coups et blessures volontaires intrafamiliaux,victime,ndiff,NaN,NaN,1.671280,1.185183,806,20,366.185065,20
1959442,01001,20,Autres coups et blessures volontaires,victime,ndiff,NaN,NaN,1.465517,0.965602,806,20,366.185065,20
1959443,01001,20,Violences sexuelles,victime,ndiff,NaN,NaN,1.437247,0.817773,806,20,366.185065,20
1959444,01001,20,Vols avec armes,infraction,diff,0.0,0.000000,NaN,NaN,806,20,366.185065,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3429015,97617,22,Vols dans les véhicules,véhicule,diff,9.0,0.645902,NaN,NaN,13934,17,3872.000000,17
3429016,97617,22,Vols d'accessoires sur véhicules,véhicule,ndiff,NaN,NaN,2.625000,0.226928,13934,17,3872.000000,17
3429017,97617,22,Destructions et dégradations volontaires,infraction,diff,75.0,5.382518,NaN,NaN,13934,17,3872.000000,17
3429018,97617,22,Trafic de stupéfiants,Mis en cause,ndiff,NaN,NaN,3.250000,0.280958,13934,17,3872.000000,17
3429019,97617,22,Usage de stupéfiants,Mis en cause,ndiff,NaN,NaN,3.928571,0.352999,13934,17,3872.000000,17

In [3]:
an = data['annee'].unique()
an

array([20, 21, 22])

In [18]:
classe[12]

'Trafic de stupéfiants'

In [4]:
classe = data['classe'].unique()
classe

['Coups et blessures volontaires', 'Coups et blessures volontaires intrafamiliaux', 'Autres coups et blessures volontaires', 'Violences sexuelles', 'Vols avec armes', ..., 'Vols dans les véhicules', 'Vols d'accessoires sur véhicules', 'Destructions et dégradations volontaires', 'Trafic de stupéfiants', 'Usage de stupéfiants']
Length: 14
Categories (16, object): ['Homicides' < 'Coups et blessures volontaires' < 'Coups et blessures volontaires intrafamiliaux' < 'Autres coups et blessures volontaires' ... 'Destructions et dégradations volontaires' < 'Escroqueries' < 'Trafic de stupéfiants' < 'Usage de stupéfiants']

In [5]:
valeurs_a_supprimer = ["Destructions et dégradations volontaires", "Violences sexuelles", "Escroqueries", "Usage de stupéfiants", "Vols sans violence contre des personnes", "Autres coups et blessures volontaires", "Vols d'accessoires sur véhicules"]

In [6]:
data = data[~data['classe'].isin(valeurs_a_supprimer)]
data

,CODGEO_2023,annee,classe,unité.de.compte,valeur.publiée,faits,tauxpourmille,complementinfoval,complementinfotaux,POP,millPOP,LOG,millLOG
1959440,01001,20,Coups et blessures volontaires,victime,ndiff,NaN,NaN,2.027682,1.773055,806,20,366.185065,20
1959441,01001,20,Coups et blessures volontaires intrafamiliaux,victime,ndiff,NaN,NaN,1.671280,1.185183,806,20,366.185065,20
1959444,01001,20,Vols avec armes,infraction,diff,0.0,0.000000,NaN,NaN,806,20,366.185065,20
1959445,01001,20,Vols violents sans arme,infraction,diff,0.0,0.000000,NaN,NaN,806,20,366.185065,20
1959447,01001,20,Cambriolages de logement,infraction,ndiff,NaN,NaN,2.206294,5.103666,806,20,366.185065,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3429011,97617,22,Vols violents sans arme,infraction,diff,6.0,0.430601,NaN,NaN,13934,17,3872.000000,17
3429013,97617,22,Cambriolages de logement,infraction,diff,10.0,2.582645,NaN,NaN,13934,17,3872.000000,17
3429014,97617,22,Vols de véhicules,véhicule,diff,15.0,1.076504,NaN,NaN,13934,17,3872.000000,17
3429015,97617,22,Vols dans les véhicules,véhicule,diff,9.0,0.645902,NaN,NaN,13934,17,3872.000000,17
3429018,97617,22,Trafic de stupéfiants,Mis en cause,ndiff,NaN,NaN,3.250000,0.280958,13934,17,3872.000000,17

In [7]:
com = data['CODGEO_2023'].unique()
com

array(['01001', '01002', '01004', ..., '97615', '97616', '97617'],
      dtype=object)

In [8]:
colonnes = ['Code géographique', 'Coups et blessures volontaires', 'Cambriolages de logement', 'Vols de véhicules', 'Trafic de stupéfiants']
new_df = pd.DataFrame(columns=colonnes)

In [9]:
new_df

Empty DataFrame
Columns: [Code géographique, Coups et blessures volontaires, Cambriolages de logement, Vols de véhicules, Trafic de stupéfiants]
Index: []

In [10]:
new_df['Code géographique'] = com

In [45]:
new_df

,Code géographique,Coups et blessures volontaires,Cambriolages de logement,Vols de véhicules,Trafic de stupéfiants
0,01001,NaN,NaN,NaN,NaN
1,01002,NaN,NaN,NaN,NaN
2,01004,NaN,NaN,NaN,NaN
3,01005,NaN,NaN,NaN,NaN
4,01006,NaN,NaN,NaN,NaN
...,...,...,...,...,...
34985,97613,NaN,NaN,NaN,NaN
34986,97614,NaN,NaN,NaN,NaN
34987,97615,NaN,NaN,NaN,NaN
34988,97616,NaN,NaN,NaN,NaN
34989,97617,NaN,NaN,NaN,NaN

In [18]:

new_df = data.groupby(['CODGEO_2023', 'classe'])['faits'].sum().unstack().reindex(com)[classe]


# for a in an:
#   liste = []
#   for d in com:
#     cond1 = data['CODGEO_2023'] == d
#     cond2 = data['classe'] == a
#     som = data.loc[cond1 & cond2, 'faits'].sum()
#     liste.append(som)
#     som = 0
#     print(d)
#   new_df[a] = liste

In [21]:
cols_to_del = ["Coups et blessures volontaires intrafamiliaux", "Autres coups et blessures volontaires", "Violences sexuelles", "Vols violents sans arme", "Vols sans violence contre des personnes", "Vols dans les véhicules", "Vols d'accessoires sur véhicules", "Usage de stupéfiants"]
new_df = new_df.drop(columns=cols_to_del)

In [22]:
new_df

classe,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants
CODGEO_2023,,,,,,
01001,0.0,0.0,0.0,0.0,0.0,0.0
01002,0.0,0.0,0.0,0.0,0.0,0.0
01004,278.0,0.0,113.0,89.0,0.0,51.0
01005,0.0,0.0,30.0,0.0,0.0,0.0
01006,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
97613,73.0,57.0,26.0,17.0,0.0,0.0
97614,180.0,75.0,29.0,28.0,0.0,0.0
97615,229.0,73.0,145.0,55.0,0.0,0.0
97616,159.0,48.0,58.0,52.0,0.0,0.0
97617,254.0,88.0,56.0,52.0,0.0,0.0

In [27]:
new_df = new_df.reset_index()

In [30]:
new_df.rename(columns={'CODGEO_2023': 'Code géographique'}, inplace=True)

In [33]:
new_df

classe,Code géographique,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants
0,01001,0.0,0.0,0.0,0.0,0.0,0.0
1,01002,0.0,0.0,0.0,0.0,0.0,0.0
2,01004,278.0,0.0,113.0,89.0,0.0,51.0
3,01005,0.0,0.0,30.0,0.0,0.0,0.0
4,01006,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
34985,97613,73.0,57.0,26.0,17.0,0.0,0.0
34986,97614,180.0,75.0,29.0,28.0,0.0,0.0
34987,97615,229.0,73.0,145.0,55.0,0.0,0.0
34988,97616,159.0,48.0,58.0,52.0,0.0,0.0
34989,97617,254.0,88.0,56.0,52.0,0.0,0.0

In [34]:
import os

rep_dir = "E:\Ingénierie 1 EISI\MSPR 1\Projet MSPR Big Data\Datasets\Extraxted Data"
if not os.path.exists(rep_dir):
    os.makedirs(rep_dir)
csv_file_dir = os.path.join(rep_dir, "délinquence_20_22.csv")
new_df.to_csv(csv_file_dir, index=False)

In [31]:
new_df

classe,Code géographique,Coups et blessures volontaires,Vols avec armes,Cambriolages de logement,Vols de véhicules,Destructions et dégradations volontaires,Trafic de stupéfiants
0,01001,0.0,0.0,0.0,0.0,0.0,0.0
1,01002,0.0,0.0,0.0,0.0,0.0,0.0
2,01004,278.0,0.0,113.0,89.0,0.0,51.0
3,01005,0.0,0.0,30.0,0.0,0.0,0.0
4,01006,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
34985,97613,73.0,57.0,26.0,17.0,0.0,0.0
34986,97614,180.0,75.0,29.0,28.0,0.0,0.0
34987,97615,229.0,73.0,145.0,55.0,0.0,0.0
34988,97616,159.0,48.0,58.0,52.0,0.0,0.0
34989,97617,254.0,88.0,56.0,52.0,0.0,0.0